extends layout

block content
    .w3-card-4.modal(id='display')

    div(class="sidenav")
      a(href="/root"+path.replace(/\/[^\/]*$/,'')) ..
      if group.sub_groups
          each sub_group in group.sub_groups
              li 
                  a(href="/root"+path+"/" + sub_group)= sub_group

      center
          button(onclick="add_group('" + path + "')") +


      div(class="foot")
          a(href="/") Logout

  
    div(class="main")
      section(class="buttons")
          div(class="navbar" style="height:7%")
                a(class="btn btn-1" onclick="swap_elements('" + path + "')") Trocar
                a(class="btn btn-1" onclick="delete_elements('" + path + "')") Eliminar
                //a(class="btn btn-1" onclick="add_card('" + path + "')") Cria Nota
                a(class="btn btn-1" onclick="add_note('" + path + "')") Cria Nota
                //a(class="btn btn-1" onclick="add_file('" + path + "')") Adicionar ficheiro
                //form.w3-container(action="http://localhost:4877/root"+path method="post" enctype="multipart/form-data")
                //    input(id="file" type="file" name="file") 
                //    input(type="submit" value="Enviar") 

      div(class="content")
          table(style='width: 100%;')
              if group.page
                  each card in group.page
                      tr
                          td
                              case Object.keys(card)[1]
                                  when '_id'
                                      case Object.keys(card)[2]
                                          when 'p'
                                              p(align="center")= card.p
                                          when 'h1'
                                              h1(align="center")= card.h1
                                          when 'list'
                                               ul
                                               each l in card.list
                                                    li= card.lisl[l]
                                          when 'h2'
                                              h2(align="center")= card.h2
                                          when 'img'
                                              img(src=card.img align="center" height="50%" )
                                          when 'pdf'
                                              div(style="width: 100% height: 100%")
                                                  embed(src=card.pdf height="800px" width="100%" )
                                          when 'file'
                                              a(href=card.file download class="download")= card.file.split("/").reverse()[0]
                                          default
                                              p better luck next time
                                  when 'p'
                                      p= card.p
                                  when 'h1'
                                      h1= card.h1
                                  when 'h2'
                                      h2= card.h2
                                  when 'img'
                                      img(src=card.img)
                                  default
                                      p better luck next time
                          td(id="checkbox")
                              input(type="CheckBox" class="check-box")
