extends layout_user

block content
    .main-content
      h1 Our Note

      form.login(action='/profile' method='GET' style="width: 100%")
        .form__field
          label
            Tag
          input(type='text' name='tag' placeholder='Tag') 
          input.btn-w3(type='submit' value='Procura')

      div(class="content")
          table(style='width: 100%; padding-left: 2%')
                  each tag in tags
                      tr
                          td
                             a(href="/root" + tag.path + "#" + tag.page._id)
                                if tag.page.p != undefined
                                   p(id=tag.page._id)= tag.page.p
                                if tag.page.h1 != undefined
                                   h1(id=tag.page._id align="center" style="font-size:100px")= tag.page.h1
                                if tag.page.h2 != undefined
                                   h2(id=tag.page._id align="center" style="font-size:60px")= tag.page.h2
                                if tag.page.h3 != undefined
                                   h3(id=tag.page._id align="center" style="font-size:40px")= tag.page.h3
                                if tag.page.img != undefined
                                   img(id=tag.page._id src=tag.page.img align="center"  style="max-height : 500px; max-width: auto")
                                if tag.page.event != undefimed
                                    div.w3-tag.page.w3-round-large(style="background-color: #f2f2f2; padding: 10px")
                                        h2(id=tag.page._id style="color:black")= tag.page.event.title
                                        p(style="font-size: 20px; color:black")= tag.page.event.data
                                        ul.weekdays
                                            li Mo
                                            li Tu
                                            li We
                                            li Th
                                            li Fr
                                            li Sa
                                            li Su
                                        ul.days
                                            li 1
                                            li 2
                                            li 3
                                            li 4
                                            li 5
                                            li 6
                                            li 7
                                            li 8
                                            li 9
                                            li
                                                span.active 10
                                            li 11
                                   
                                if tag.page.pdf != undefined
                                   div(style="width: 100% height: 100%")
                                      embed(src=tag.page.pdf height="800px" width="100%" )
                                if tag.page.file != undefined
                                   div(style="height: 150px; color:black; background-color: #f2f2f2").w3-tag.page.w3-round-large
                                    center
                                       h2(style="color:black")= tag.page.file.split("/").reverse()[0]
                                       a(href=tag.page.file download class="download" style="background-color: #1abc9c").w3-button.w3-tag.page.w3-round-large Download   

                                if tag.page.list != undefined
                                   ul
                                    each item in tag.page.list
                                         li(align="center" style="color:white")= item
        
      a(href="/root" ,style="text-decoration: none; color: white")
        .moleskine-wrapper
          .moleskine-notebook
            .notebook-cover
              .notebook-skin Raiz
            .notebook-page.ruled
          h4 Raiz
        
      each book in books
        a(href="/root/" + book ,style="text-decoration: none; color: white")
          .moleskine-wrapper
            .moleskine-notebook
              .notebook-cover
                .notebook-skin= book.split("/").reverse()[0]
              .notebook-page.ruled
            h4= book

      
